
.sky-tabs > ul > li {

    padding: 0px 0px 0px;

    background: inherit;

}

.editar 
{
-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;

margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;


-webkit-writing-mode: horizontal-tb;

box-sizing: border-box;




}


.editar:focus {

border: 2px solid #94b7f3;

}


.selectEditar {

-webkit-appearance: menulist;
box-sizing: border-box;
align-items: center;
border: 1px solid gray;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
white-space: pre;
-webkit-rtl-ordering: logical;
color: black;
background-color: white;
cursor: default;
border-radius: 3;


margin: 0em;
font: -webkit-small-control;
color: initial;
letter-spacing: normal;
word-spacing: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;

-webkit-writing-mode: horizontal-tb;




}

#selectz > select {

border: 1px solid gray;
border-radius: 3;
background: white;
width: 55px;


}


.botonEditar 
{




align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
padding: 2px 6px 3px;
border: 2px outset buttonface;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: buttonface;
box-sizing: border-box;
width: 180px;
height: 20px;
}



#selectz > select:focus {
 border: 2px solid #94b7f3;
}


table.display .pb {
padding: 3px 0px;
}

select:focus{
 border: 2px solid #94b7f3;

}

input[type="text"]:focus{
 border: 2px solid #94b7f3;

}

input[type="date"]:focus{
 border: 2px solid #94b7f3;


}


.dataTables_scrollBody {
height: 100px !important;
}

.pequeño
{

    line-height: 25px !important;
   

}

.pequeño > span span {

padding: 0 14px;

}


.sky-tabs > ul > li {

    background: initial !important;
    padding: 0px 25px 25px;
    border-radius: 15px !important;

}


.alerta {

color: red;

}
